{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HTML5 Example Page</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="HTML5 Example Page">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <h1 class="class1" style="color: red;" id="title1">HTML5 Example Page</h1>
  </header>

  <nav>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="/javascript">JavaScript</a></li>
    </ul>
  </nav>

  <article>
    <h2>This is a headline</h2>
    <p>
        <span>This text is red.</span>
        <em>This text is in the initial color (typically black).</em>
        <span>This is red again.</span>
    </p>
  </article>

  <aside>
    <a href="">
      <figure>
        <img src="{% static 'img/cssmeme.png' %}" width="360" height="400" alt="Description of the image" />
        <figcaption>Caption for the image</figcaption>
      </figure>
      <p>
        This is some teaser text. This is some teaser text.
      </p>
    </a>
  </aside>

  <section>
    <h2>This is another headline</h2>
    <div class="someclass">
      This is another text.
    </div>
    <div class="someclass">
      This is another text.
    </div>
  </section>

  <footer>
    Made with <a href="https://html5example.com">html5example.com</a>
  </footer>

  <script src="{% static 'js/jquery-migrate-1.4.1.min.js' %}"
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>