{% load static %}
<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("button").click(function(){
    $.ajax({
        url: "https://www.googleapis.com/books/v1/volumes?q=web+application", 
        success: function(result){
            for(i=0; i < result.items.length; i++){
                $("#list").append("<div>"+result.items[i].volumeInfo.title+"</div>");
            }
            
    }});
  });
});
</script>
</head>
<body>
<h2>Click to see the books' title</h2>
<button>Get External Content</button>
<p id="list"></p>

</body>
</html>